:root {
    --Pcolor: rgb(255, 68, 30);
    --white: #ffffff;
    --border: rgba(139, 142, 143,0.1);
    --hover: rgba(139, 142, 143,0.2);
  }
.home{
    position: absolute;
    top: 150px;
    left: 350px;
    width: 70%;
}

.card{
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cards{
    display: flex;
    column-gap: 40px;
}
.card1{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
.card1 .attendance{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card1 .attendance div{
    height: 80px;
    padding: 15px 10px 20px 10px;
    text-align: center;
    background-color: rgb(245, 119, 93,0.4);
    border-radius: 4px;
}

.card2{
    display: flex;
    row-gap: 30px;
}

.card2 .dropdown{

    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
}

.card2 .stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 50px;
    padding: 10px 40px;
}
.card2 .stats div{
    padding: 20px 10px 10px 10px;
    display: flex;
    column-gap: 20px;
    position: relative;
    align-items: flex-start;
    width: 47%;
}   
.card2 .stats div::before{
    content: " ";
    position: absolute;
    background-color: var(--Pcolor);
    height: 50px;
    width: 5px;
    left: -10px;
    transform: translateY(-30%);
    border-radius: 4px 0px 0px 4px;
}